/* CSS-Flag 1*/

body
{
    background-color: black;
    color: white;
}

#wrapper
{
    background-color: rgb(111, 108, 108);
    padding: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
}


